# Direkte ind i TV-visningen: ingen menu, ingen tekst, ingen skærmslukning.
GRUB_TIMEOUT=0
GRUB_TIMEOUT_STYLE=hidden
GRUB_DISTRIBUTOR="Badminton TV"
GRUB_CMDLINE_LINUX_DEFAULT="quiet loglevel=3 consoleblank=0 vt.global_cursor_default=0"
GRUB_DISABLE_OS_PROBER=true
